<form (ngSubmit)="addQuote()">
  <div class="form-group">
    <label for="category">Quote Category</label>
    <select name="category" id="category" [(ngModel)]="category">
      <option value="">Select category</option>
      <option value="star_wars">Star Wars</option>
      <option value="famous_people">Famous people</option>
      <option value="saying">Saying</option>
      <option value="humour">Humour</option>
      <option value="motivational">Motivational</option>
    </select>
  </div>
  <div class="form-group">
    <label for="author">Quote Author</label>
    <input
      type="text"
      name="author"
      id="author"
      class="form-control"
      [(ngModel)]="author"
    />
  </div>
  <div class="form-group">
    <label for="text">Quote text</label>
    <textarea
      name="text"
      id="text"
      class="form-control"
      [(ngModel)]="text"
    ></textarea>
  </div>
  <button type="submit">Ok</button>
</form>
