<header>
  <div class="container">
    <div class="header-wrap">
      <div class="logo">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Quotes</a>
      </div>
      <div class="links">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Quotes</a>
          </li>
          <li>
            <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add new</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
