.quote-item {
  padding: 16px;
  border: 1px solid #333;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
  margin-bottom: 10px;
}
.author {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}
.delete-btn {
  background-color: tomato;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
.edit-btn {
  background-color: gold;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
