<div *ngIf="loading" class="loader-wrap">
  <div class="lds-dual-ring"></div>
</div>

<div *ngIf="!loading">
  <div *ngIf="quotes.length === 0" class="empty-wrap">
    Empty :(
  </div>
  <div class="quote-item" *ngFor="let quote of quotes;">
    <div class="text">"{{ quote.text }}"</div>
    <div class="author">&#8212; {{ quote.author }}</div>
    <button class="delete-btn" type="button" (click)="deleteQuote(quote.id)">Delete</button>
    <a class="edit-btn" routerLink="/quotes/{{ quote.id }}/edit">Edit</a>
  </div>
</div>
