<div class="row">
  <div class="col-50">
    <h4>Categories</h4>
    <div class="categories-menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All</a>
      <a routerLink="/quotes/star_wars" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Star Wars</a>
      <a routerLink="/quotes/famous_people" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Famous people</a>
      <a routerLink="/quotes/saying" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Saying</a>
      <a routerLink="/quotes/humour" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Humour</a>
      <a routerLink="/quotes/motivational" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Motivational</a>
    </div>
  </div>
  <div class="col-50">
    <router-outlet></router-outlet>
  </div>
</div>
